/* ALIGNMENT STYLING */

.gallery {
	display: grid;
	height: 100vh;
	gap: 30px;
	grid-template-columns: repeat(4, 100px);
	/* aligns within an individual grid cell */
	justify-items: center;
	align-items: center;
	/* aligns cells on the grid */
	justify-content: center;
	align-content: center;
}

.gallery * {
	/* border: solid black 2px; */
}

.diesel {
	align-self: end;
	order: -1;
}

.mitsubishi {
	justify-self: center;
}

/* OTHER STYLING */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	margin: 30px;
	font-family: sans-serif;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.logo-wrapper {
	background: #d7e1ff;
}
.gallery {
	border: 8px solid orange;
}