/* FLEXBOX STYLING */

ul.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	height: 40vh;
}

ul.navbar li {
	/* flex-grow: 1; */
}

ul.navbar li.about {
	background: magenta;
	/* flex-grow: 1; */
	align-self: stretch;
	/* flex-grow: 0; */
}

ul.navbar li.logo {
	/* flex-grow: 1; */
	/* flex-shrink: 0;
	flex-basis: 120px; */
	flex: 1 0 120px;
}

/* div.links {
	display: flex;
	flex-direction: row;
	align-items: center;
} */

footer {
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: space-between;
	align-items: center;
}

footer div {
	flex-grow: 0;
}

div.address {
	flex-grow: 10;
}

div.copyright {
	/* margin-top: auto; */
	/* margin-bottom: auto; */
	flex-grow: 10;
}

li.hikes {
	/* margin-left: auto; */
}

/* OTHER STYLING */

*, *::before, *::after { 
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
.navbar {
	border: 8px solid gray;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
.navbar li {
	color: white;
	padding: 10px;
}
.navbar .logo {
	background: #0db8e8;
}
.navbar .hikes {
	background: #0978e2;
}
.navbar .about {
	background: magenta;
}
.navbar .contact {
	background: #9700da;
}
.navbar .signup {
	background: #dc00d4;
	font-size: 1.5em;
}
footer {
	border: 8px solid gray;
	margin-top: 20px;
}
footer div {
	border: 2px solid red;
	padding: 10px;
}